// compileCompressed: ../css/$1.css

$projectName: #drowning_language_i;

#{$projectName} {
    & .content {
        position: absolute;
    	z-index: 1;
    	top: 0px;
    	bottom: 0px;
    	left: 0;
    	width: 100%;
    	overflow: hidden;

    }

    & #scroller {
        position: absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;

        cursor: move;
        cursor: url(https://mail.google.com/mail/images/2/openhand.cur), move;
        cursor: url(https://mail.google.com/mail/images/2/openhand.cur) 8 8, move;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    & #scroller:active {
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), move;
        cursor: url(https://mail.google.com/mail/images/2/closedhand.cur) 8 8, move;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
    & .images{
    	// width: 450px;
    	// margin: 20px auto 60px auto;
      text-align: center;
      padding-top: 10vh;
      &__single {
        // display: block;
        margin-left: 5vh;
        margin-right: 5vh;
      	margin-bottom: 10vh;

        max-height: 800px;
        height: 50vh;
        width: auto;
        position: relative;
        z-index: 50;
      }
    }
}
